.headrow{
    width: 30px;
}
.tabledesc{
    width: 300px;
    background-color: aqua;
}

.firstrow{
    width: 300px;
}

th{
    border: 1px solid gray;
}

td{
    border: 1px solid gray;
}
.scorecardowner{
    background-color: gray;
}
.card{
    width: 100%
}