
.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: black;
}

 .newuserheader{
  // color: rgba(255,255,255);
  font-weight: 100;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}